@import url('https://fonts.googleapis.com/css?family=Caladea|Oswald|Playfair+Display|Poppins|Raleway|Source+Sans+Pro&display=swap');
body {
  margin: 0;
}
div {
  position: fixed;
  transition: 400ms all ease;
  will-change: transform, width, height;
}
